<%= turbo_frame_tag tictactoeboard do %>
  
  <div class="board" data-controller="tictactoe">
    <div class="cell <% if tictactoeboard.cell_1 == 'circle' %>circle<% elsif tictactoeboard.cell_1 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
    <div class="cell <% if tictactoeboard.cell_2 == 'circle' %>circle<% elsif tictactoeboard.cell_2 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
    <div class="cell <% if tictactoeboard.cell_3 == 'circle' %>circle<% elsif tictactoeboard.cell_3 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
    <div class="cell <% if tictactoeboard.cell_4 == 'circle' %>circle<% elsif tictactoeboard.cell_4 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
    <div class="cell <% if tictactoeboard.cell_5 == 'circle' %>circle<% elsif tictactoeboard.cell_5 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
    <div class="cell <% if tictactoeboard.cell_6 == 'circle' %>circle<% elsif tictactoeboard.cell_6 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
    <div class="cell <% if tictactoeboard.cell_7 == 'circle' %>circle<% elsif tictactoeboard.cell_7 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
    <div class="cell <% if tictactoeboard.cell_8 == 'circle' %>circle<% elsif tictactoeboard.cell_8 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
    <div class="cell <% if tictactoeboard.cell_9 == 'circle' %>circle<% elsif tictactoeboard.cell_9 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
  </div>
<% end %>